@page
<div class="container ">
    <div class="row">
        <div class="col-md-10">
            <div class="row p-1">
                <div class="col-1">User:</div>
                <div class="col-9">
                        <input type="text" class="w-75" id="userInput" placeholder="Username" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">Message</div>
                <div class="col-9"><input type="text" class="w-75" id="messageInput" placeholder="Enter your message here" /></div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" id="sendButton" value="Send Message" />
                    <input type="button" id="sendToSelf" value="Self-Send" />
                    <input type="button" id="sendToGroup" value="Send to Group" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <hr />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-1">Group:</div>
            <div class="col-1">
                <label>
                    <input type="text" id="userInput" placeholder="Set the GroupName" />
                </label>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
